* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

:root {
    --accent-color: ;
    --htmlwidth : 60%;
    --csswidth : 65%;
    --jswidth : 75%;
    --pythonwidth : 40%;
    --phpwidth : 55%;
    --sqlwidth : 65%;
}

img,
picture,
video {
  max-width: 100%;
}


.cl-change {
    color: var(--accent-color);
}


.header .container {
    height: 100vh;
    background-image: url("../imgs/01.jpg");
    background-size: cover;
    font-size: 18px;
    color: white;
    /* make the background img change randomly */
}


.header .overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}


.toggle-menu {
    display: none;
}

.all-header {
    display: flex;
    padding: 20px;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
    position: relative;
    z-index: 999;

}

.header-title  {
    font-weight: bold;
}

.header-sections a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.header-sections a:hover {
    color: var(--accent-color);
}

.container .header-content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.header-content h1 {
    margin-top: 30vh;
    align-self: center;
}

.header-content h3 {
    margin-top: 5vh;
    align-self: center;
}


/* End header styling */


/* Start about section style  */

.about {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    
}

.about-div {
    justify-self: center; 
    display : flex;
    flex-direction: row;
    max-width: 90%;
    align-items: stretch;
}

.about-div h2 {
    margin-bottom: 25px;
}

.about-div p{
    display: block;
    line-height: 2;
}

.about-div .text {
    padding: 30px;
    flex: 1;
}

.about-div .image {
    flex: 1;
    padding: 20px;
}

.about-div .image img {
    width: 250px;
    margin: 0 25%;
}

/* End about section style  */




/* Start Skills section style  */

.skills {

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #EEE;
}

.skills h2 {
    align-self: center;
    margin: 20px auto;
}

.skill-view {
    display: flex;
    min-width: 90%;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.skill-view div {
    margin: 10px 20px 10px 20px;
    position: relative;
    background-color: white;
}

.skill-view h3 {
    padding: 20px;
}
    
.skill-view div span::before {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    height: 70%;
    width: 80%;
    top: 15%;
    left: 15%;
    border-radius: 10px;
}


/* HTML Loading bar */
.skill-view div:nth-child(1) span::after {
    display: var(--afterDisplay,none);
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    top: 15%;
    left: 15%;
    border-radius: 10px 0px 0px 10px;
    animation-name: htmlloading;
    height: 70%;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes htmlloading {
    0% {
        width: 0%;
    } 
    100% {
        width: var(--htmlwidth);
    }
}

/* css Loading bar */
.skill-view div:nth-child(2) span::after {
    display: var(--afterDisplay,none);
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 10px 0px 0px 10px;
    animation-name: cssloading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes cssloading {
    0% {
        width: 0%;
    } 
    100% {
        width: var(--csswidth);
    }
}

/* js Loading bar */
.skill-view div:nth-child(3) span::after {
    display: var(--afterDisplay,none);
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 10px 0px 0px 10px;
    animation-name: jsloading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes jsloading {
    0% {
        width: 0%;
    } 
    100% {
        width: var(--jswidth);
    }
}

/* python Loading bar */
.skill-view div:nth-child(4) span::after {
    display: var(--afterDisplay,none);
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 10px 0px 0px 10px;
    animation-name: pythonloading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes pythonloading {
    0% {
        width: 0%;
    } 
    100% {
        width: var(--pythonwidth);
    }
}


/* php Loading bar */
.skill-view div:nth-child(5) span::after {
    display: var(--afterDisplay,none);
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 10px 0px 0px 10px;
    animation-name: phploading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes phploading {
    0% {
        width: 0%;
    } 
    100% {
        width: var(--phpwidth);
    }
}

/* sql Loading bar */
.skill-view div:nth-child(6) span::after {
    display: var(--afterDisplay,none);
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 10px 0px 0px 10px;
    animation-name: sqlloading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes sqlloading {
    0% {
        width: 0%;
    } 
    100% {
        width: var(--sqlwidth);
    }
}

/* End skills */

/* start Gallery Styling  */

.gallery {
    position: relative;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery span {
    margin:50px 0;
    font-size: 20px;
}

.gallery-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;   
}

.gallery-img img {
    min-width: 18%;
    width: 200px;
    margin: 5px;
    padding: 3px;
    border: 1px solid gray;
    cursor: pointer;
}

.popupoverlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 50%;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: none;

}


.pop-up  {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    width: 50%;
    top: 10vh;
    left: 25%;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #fff;
    z-index: 101;
    display: none;
    /* transform: translate(-150%, -100%) scale(0.5); */

}



.pop-up span {
    margin:10px 0;
    font-size: 20px;
    color: var(--accent-color);
    position: relative;
}


.pop-up img {
    max-width: 100%;
    margin-top: 20px;
}


.pop-btn {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border: 1px solid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: -20px;
}

/* End Gallery Styling  */



/* Start Time line styling */

.timeline {
    background-color: #EEE;
    position: relative;
    padding: 20px;
}

.timeline .timeline-content {
    max-width: 80%;
    margin: auto;
}

.timeline span:nth-of-type(1) {
    display: block;
    height: 3%;
    width: 50px;
    background-color: var(--accent-color);
    color: #EEE;
    border-radius: 5px;
    padding:5px ;
    text-align: center;
    margin: 40px auto 20px;

}

.timeline span:nth-of-type(2) {
    display: block;
    height: 3%;
    width: 60px;
    background-color: var(--accent-color);
    color: #EEE;
    padding:5px ;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
}



.timeline::before {
    content: "";
    width: 2px;
    position: absolute;
    background-color: var(--accent-color);
    height: 95%;
    top: 2.5%;
    margin-left: -1px;
    left: 50%;

}

.timeline .left , .right {
    position: relative;
}

.timeline .left-flt {
    background-color: white;
    width: 46%;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    float: left;
    line-height: 1.5;
}

.timeline .right-flt {
    background-color: white;
    width: 46%;
    padding: 20px;
    position: relative;
    margin-bottom: 30px;
    float: right;
    line-height: 1.5;
}



.timeline .left-flt:nth-of-type(1):before 
{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: 100%;
}



.timeline .right-flt::before {
    content: "";
    width: 0;
    height: 0;
    border-right: 15px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: 100%;

}


.timeline .left::after
 {
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid var(--accent-color);
    position: absolute;
    right: calc(50% - 12px);
    top: 25px;
    border-radius: 12px;
}

.timeline .right::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid var(--accent-color);
    position: absolute;
    right: calc(50% - 12px);
    margin-top: 20px;
    border-radius: 12px;
}

.dot-1 {
    position: relative;
    float: left;
}

.dot-2 {
    position: relative;
    float: left;
}



.dot-1::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid var(--accent-color);
    position: absolute;
    right: calc(50% - 12px);
    margin-top: 20px;
    border-radius: 12px;
    top: 0;
}

.dot-2::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid var(--accent-color);
    position: absolute;
    right: calc(50% - 12px);
    margin-top: 20px;
    border-radius: 12px;
    top: 0;
}

.timeline div h3 {
    color: var(--accent-color);
    margin: 5px 0px 10px;
}

.timeline span h3 {
    color: #fff;
    margin: 0px;
}


.clear-fix {
    clear: both;
}

/* End styling timeline */

/* Start Styling features */

.features {
    display: flex;
    flex-direction: column;
    padding: 10px;

    
}

.features h2 {
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: bold;

}

.features .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 50px;
    padding: 10px;

}


.features .container div {
    padding: 10px;
    text-align: center;
    width: calc(100% / 3);

}

.features .container div img {
    width: 40%;
    height: 40%;
}

.features .container div h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px auto 30px;
    position: relative;
}

.features .container div h3::after {
    content: "";
    width: 10%;
    height: 4px;
    background-color: var(--accent-color);
    position: absolute;
    top: 100%;
    left: 45%;
    margin-top: 15px;
}


.features .container div p {
    margin: 20px auto;
    color: #706f6f;
    width: 80%;

}

/* End features styling */





/* start testimonials styling */

.testimonials {
    padding-bottom: 30px;
    padding-top: 20px;
    background: conic-gradient(#333 0 180deg ,var(--accent-color) 180deg 360deg);
    display: flex;
    flex-direction: column;

}

.testimonials h2 {
    margin: 30px 10%;
    color: white;
}

.testimonials .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 50px;
    margin: auto 10%;
}

.testimonials .container div {
    width: 32.5%;
    background-color: white;
    padding: 20px;
    
}

.testimonials .container div p {
    margin-bottom: 30px;
    font-style: italic;
    color: #707070;
}

.testimonials .container div span {
    display: block;
    margin-top: 10px;
}

.testimonials .container div span:nth-of-type(1) {
    font-weight: bold;
}

/* end features styling */

/* start contact us styling */

.contact-us {
    background-image: url("../imgs/contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;

}

.contact-us h2 {
    text-align: center;
    margin: 40px auto;
}

.contact-us form {


    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 10%;
}

.contact-us form .left {
    width: 45%;
    display: flex;
    flex-direction: column;

}

.contact-us form .right {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.contact-us form .right textarea {
    height: 162px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
    padding: 10px;
    margin-bottom: 25px;
}

.contact-us form textarea:focus:placeholder-shown::placeholder {
  color: transparent;
}

.contact-us form .right input {
   padding: 10px;
   border: 1px solid #ccc;
}

.contact-us form .left input {
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
    padding: 10px;
    margin-bottom: 25px;
}

.contact-us form input:focus:placeholder-shown::placeholder {
  color: transparent;
}


.contact-us form .right input {
    background-color: var(--accent-color);
    color: white;
}

/* end contact us styling */

footer {
    height: 60px;
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer span {
    display: block;
    padding: 20px;
}



.sections-btns {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 20px;
    z-index: 99;
    
}



.sections-btns input[type="radio"] {
    margin-bottom: 20px;
    display: none;
}

.sections-btns label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 7px;
    margin: 8px 8px;
    border: 5px solid var(--accent-color);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 18px;
}


.sections-btns [type="radio"]:hover + label::before {
    content: "";
    padding: 5px 20px;
    font-size: 16px;
    width: 80px;
    font-weight: bold;
    background-color: var(--accent-color);
    position: absolute;
    right: 220%;
    color: white;
    text-align: center;
}

.sections-btns [type="radio"]:nth-of-type(1):hover + label::before {
    content: "About";
}

.sections-btns [type="radio"]:nth-of-type(2):hover + label::before {
    content: "Skills";
}

.sections-btns [type="radio"]:nth-of-type(3):hover + label::before {
    content: "Gallery";
}

.sections-btns [type="radio"]:nth-of-type(4):hover + label::before {
    content: "Timeline";
}

.sections-btns [type="radio"]:nth-of-type(5):hover + label::before {
    content: "Features";
}

.sections-btns [type="radio"]:nth-of-type(6):hover + label::before {
    content: "Testimonials";
}

.sections-btns [type="radio"]:nth-of-type(7):hover + label::before {
    content: "Contact Us";
    text-align: center;
}


.sections-btns [type="radio"]:hover + label::after {
    content: "";
    font-size: 20px;
    font-weight: bold;
    border-left: 12px solid var(--accent-color);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    right: 160%;

}

/* Start styling Setting */

aside {
    width: 250px;
    position: fixed;
    color: #666;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -250px;
    padding: 7px;
    transition: .3s;
    z-index: 999;
}

.color-selection {
    width: 90%;
    margin: 10px auto;
    background-color: #EEE;
    padding: 15px 15px;
}

.color-selection h3 {
    padding: 5px 0px 10px;
    text-align: center;
}

.color-selection .color-select {
    display: flex;
   justify-content: space-between;
}

.color-selection .color-select input {
    display: none;
}

.color-selection .color-select label {
    /* position: relative; */
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.color-selection .color-select label:nth-of-type(1) {
    background-color: #FF9800;
}

.color-selection .color-select label:nth-of-type(2) {
    background-color: #E91E63;
}

.color-selection .color-select label:nth-of-type(3) {
    background-color: #009688;
}

.color-selection .color-select label:nth-of-type(4) {
    background-color: #03A9F4;
}

.color-selection .color-select label:nth-of-type(5) {
    background-color: #4CAF50;
}


/* .color-selection .color-select input:checked + label {
    border: 3px solid #fff;
} */

.color-selection .color-select .active {
    border: 3px solid #fff;
}



.bg-random {
    width: 90%;
    margin: 10px auto; 
    background-color: #EEE;
    padding: 15px 5px;
    text-align: center;
    font-size: 14px;
    
}

.bg-random h3 {
    margin-bottom: 10px;
}

.bg-random input {
    display: none;
}

.bg-random label {
    display: inline-block;
    min-width: 35%;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 8px 10px;
    background-color: var(--accent-color);
    color: white;
    font-size: 16px;
    opacity: 0.5;
}


.bg-random .active {
    opacity: 1;
}


.show-bullets  {
    width: 90%;
    margin: 10px auto;
    background-color: #EEE;
    padding: 15px 5px;
    text-align: center;
    font-size: 14px;
    
}

.show-bullets h3 {
    margin-bottom: 10px;
}

.show-bullets input {
    display: none;
}

.show-bullets label {
    display: inline-block;
    min-width: 35%;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    margin: 8px 10px;
    background-color: var(--accent-color);
    color: white;
    font-size: 16px;
    opacity: 0.5;
}

.show-bullets .active {
    opacity: 1;
}



.reset-option {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #F44336;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.logout-btn {
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: var(--accent-color);
    text-align: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
    top: 220px;
}

.gear-btn input {
    display: none;
    position: fixed;
    left: 0;
    top: 150px;
}

.gear-btn label {
    position: fixed;
    font: normal normal normal 14px / 1 FontAwesome;
    border: 0px solid white;
    background-color: white;
    left: 0;
    top: 147px;
    height: 25px;
    width: 25px;
    z-index: 100;
    transition: .3s;
}

.gear-btn label::after {
    content: "\f013";
    position: absolute;
    left: 4px;
    top: 3px;
    font-size: 20px;
    cursor: pointer;
    z-index: 101;
}

aside:has(.gear-btn input:checked) {
    left: 0px;
}

.gear-btn input:checked + label {
    left: 250px;
}

.gear-btn input:checked + label::after {
    animation: gear-rotate 2s infinite linear;


}

@keyframes gear-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#notice  {
    text-align: center;
    line-height: 1.54;
}